@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Permanent+Marker&display=swap');

*{
    margin:0;
    
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
    
}

h1{
   
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    font-family: "permanent marker", cursive;
    font-size: xx-large;
    color: white;
    white-space: nowrap;/*  all items maintain in a line    */
}
h2{
    font-family: cursive;
    margin: 10px 0;
    font-size: xl-large;
    color: black;
    text-transform: capitalize;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.image-container img{
    height: 80vh;
    min-width: 100%;
    object-fit: cover;
}
.dark-active{
    background: black;
    color: white;
    
}
p{
    color: gray;
}


/*  -------------   header -----------------*/

    /* -----------  dark mode ------------*/
    
    .input{
        visibility: hidden;
    }

    .dark-mode-icon{
        position: absolute;
        width: 80px;
        height: 40px;
        background: darkgray;
        top: .8vh;
        left: .7vh;
        border-radius: 20px;
    }
    .circle{
        position: absolute;
        width: 34px;
        height: 34px;
        background: white;
        top: .4vh;
        left: .4vh;
        border-radius: 20px;
        animation: toggleOff .3s linear forwards;
    }

    
    .input:checked + .dark-mode-icon .circle{
        animation: toggleOn .3s linear forwards;
        background: black;
    }

    @keyframes toggleOn {
        0%{
            transform: translateX(0);
        }
       100%{
            transform: translateX(40px);
        }
    }
    @keyframes toggleOff {
        0%{
            transform: translateX(40px);
        }
       100%{
            transform: translateX(0);
        }
        
    }
.header{

    position: fixed;
    background: #ffff;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: ease .3s ;
    z-index: 1;
    box-sizing: border-box;
}
.header.active{
    height: 70vh;
    justify-content: center;
    
}

.menu-list{
    display: flex;
   align-items: center;
   justify-content: center;
}
.menu-list.active{
    display: inline;
    
}

.menu-item a{
    margin-right: 1.1rem;
    color: grey;
    font-family: cursive;
    
}
.menu-item a:hover{
    color: limegreen;
}

.menu-icon{
    margin-top: 5px;
    color: darkgray;
    display: none;
    position: fixed;
    right: 10px;
    z-index: 2;
}
.menu{
    display: flex;
    align-items: center;

}

/*----------------------    main section    ----------------*/
.image-container{
    overflow: hidden;
    box-sizing: border-box;
}
.img-slider{
    z-index: 0;
    position: relative;
    display: flex;
    flex-direction: row;
   /* transform: translateX(-100%); */
   transition: transform .7s ease-in-out;
   box-sizing: border-box;
    
}
.slider-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffff;
    opacity: .7;
    font-size: 30px;
    cursor: pointer;
}
.slider-btn:hover{
    opacity: 1;
}
.perv{
    left: 10px; 

}
.next{
    right: 10px;
}

    /*------------  text effect animation------------*/

    .text-effect{
        white-space: nowrap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        color:white;
        font-size: 20px;
        font-family: 'Permanent marker' ,cursive;
        cursor: default;
    }

    /*------------- clock   ----------------------*/

    .clock{
        display: flex;
        position: absolute;
        z-index: 0;
        color: white;
         top: 25%;
         left: 50%;
         transform: translateX(-50%);
    }

    .clock div{
        margin: 5px;
    }
   
    .clock span{
        width: 100px;    /*100 */
        height: 80px;   /* 80*/
        background: rgb(96, 92, 92);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: .8;
        font-size: 50px; /* 50 */
        font-family:sans-serif;
    }
    .clock .text-clock{
       
        
        height: 30px;
        opacity: .7;
        font-size: 15px; /* 15*/
        background: rgb(44, 39, 39);
        
        
    }
    .clock .ampm{
        position: relative;
        top: 80px;  /* 80 */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
    height: 28px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: yellowgreen;
    opacity: .8;
    }
    
    /* ----------- main Button -------------*/
    
    .main-btn{
        
        position: absolute;
     
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        padding: 20px 35px;
        border-radius: 30px;
        background: #ffff;
        color: balck;
        border: none;
        font-size: 15px;
        overflow: hidden;
        
    }.main-btn span{
        position: relative;
        z-index: 0;
    }
    .main-btn::before{
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        left: var(posX);
        top: var(posY);
        transform: translate(-50%, -50%);
        background: yellowgreen;
        border-radius: 100px;
    }
    .main-btn:hover{
        color:#ffff;
    }
    .main-btn:hover::before{
        width: 300px;
        height: 300px;
        overflow: hidden;
        transition: ease .7s;
        
    }
    /* -----------------    modal   --------------  */

    .modal{
        
        background: white;
        position: fixed;
        width: 300px;
        height: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -400%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: linear .5s;
        border-radius: 20px;
    }
    .close-icon{
        position: absolute;
        top: 0%;
        right: 0%;
    }

/*---------------   random color generator  -------------*/
    
    .color{
        width: 100px;
        height: 100px;
        background: black;
        margin: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .color-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
   
    .color p{
        font-size:larger;
        font-family: sans-serif;
        color: white;
    }
    .random-color-generator{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .normal-btn{
       display: flex; 
       justify-content: center; 
       margin-top: 20px;
       
    }
    .color-btn{
        border-radius: 30px;
        padding: 15px;
        border: none;
        background: darkgray;
        color: white;
        text-transform: capitalize;
    }
    .color-btn:hover{
        background: limegreen;
        color: black;
    }

    /*------------  multiplication App  ---------------*/
    
    .box{
       
        
        width: 75vw;
        background: pink;
       border-radius: 20px;
       padding: 20px;
        margin: 0px;
        
    }
    .box p{
        margin-top: 100px;
        font-size: 2.4rem;
        color: black;
        text-align: center;
    }
    .box input{
        
        width: 100%;
        border-radius: 7px;
        border: none;
        padding: 10px;
        margin-top: 10px;
        height: 2rem;
        margin:  20px 0px;
        outline: none;
        box-sizing: border-box;
    }
    .box input::placeholder
    {
        color: gray;
        text-align: center;
        font-size: 1.5rem;
        
    }
    
    .score
    {
        color: limegreen;
        float: right;
    }

/*  ------------    Real time character  counter    -------*/

.character-counter-textarea{
    border: solid 5px darkgray;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    font-family: sans-serif;
    height: 250px;
    outline: none;
    padding: 10px;
    margin: 40px 0;
}
.characters-count{
    display: flex;
    justify-content: space-between;
}
.total-character{
    font-size: 17px;
    color: green;
}
.remaining-character{
    font-size: 17px;
    color: red;
}

/*------------  movie trailer   ------------------------*/

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie-btn{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 20px;

}

.card-img{
    width: 320px;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   /* background-image: url(../img/bg2.jpg); */
    background-position: center;
    background-size: cover;
}

.card{  
    margin: 20px 10px;
    width: 320px;
    height: 500px; 
    
}
.card p{
    margin-bottom: 10px;
    
}
.movie-video{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: black;
    z-index: 2;
    opacity: 1;
    transition: opacity, .5s;
}

.movie-video video{
    position: relative;
    max-width: 900px;
    outline: none;
}
.active.movie-video{
    visibility: hidden;
    opacity: 0;
}
#close-icon{
    position: absolute;
    
    top: 10px;
    right: 10px;
    color: white;
}

/*--------------   music intruments --------------------*/

.instrument-container {
   text-align: center;
   
}

.instrument-btn{
    padding: 20px 30px;
    border-radius: 15px;
    border: none;
    background-image: url(../instruments-img/guitar.jpg);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.8);
    background-size: cover;
    min-width: 150px;
    margin: 5px;
    font-family: cursive;
    text-transform: capitalize;
    color: #ffff;
    transition: .3s;
}

.instrument-btn:hover{
    box-shadow: none;
}
    

/*------------- tabs    ----------------==*/
.tab-section-center{
    padding: 20px;
}
.tab-img img{
    width: 100%;
    object-fit: cover;
    height: 30rem;
    border-radius: 20px;
}

.tab-btn-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tab-btn{
    color: gray;
    padding: 1rem 0;
    letter-spacing: 0.25rem;
    font-size: 1rem;
    border: none;
    background: pink;
    cursor: pointer;
    transition: all 0.3s linear;
    
}
.tab-btn:nth-child(1){
    border-top-left-radius: 20px;
}
.tab-btn:nth-child(3){
    border-top-right-radius: 20px;
}

.tab-container{
    margin-top: 20px;
}
.content h3{
    margin-top: 30px;
    margin-bottom: 10px;
}
.tab-btn:hover{
    background: limegreen;
}
.content{
    display: none;
}
.content-live{
    display: block;
}
.tab-btn-live{
    background: limegreen;
}
       

/*--------------- cursor Animation -----------------------*/

strong
{
    background: url("https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-1024.png");
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    background-size: cover;
    animation: animate 5s linear;
}

@keyframes animate {

    0%{
        transform: translate(-50%, -50%);
        filter: hue-rotate(0);
        opacity: 1;
    }
    100%{
        transform: translate(-50%, -4000%);
        opacity: 0;
        filter: hue-rotate(1020deg);
    }
    
}







/*----------------------------------------------------------*/

@media (max-width: 800px) {

    .menu-list{
        display: none;
    }
    .menu-icon{
        display: block ;
    }
    .menu-item{
       
        font-size: large;     
    }
    .clock span{
        width: 65px;    /*100 */
        height: 55px;   /* 80*/
        font-size: 35px; /* 50 */
    }
    .clock .text-clock{
     
        font-size: 10px; /* 15*/

    }
    .clock .ampm{
        top: 60px;  /* 80 */
        width: 35px;
        font-size: 10px;
    }
    .card-container{
        display: block;
    }
 
}

@media (max-width: 600px) {
    .movie-video video{
        max-width: 100%;
    }
}

@media (min-width: 992px){
    .tab-section-center{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
    .tab-container{
        margin-top: 0;
    }
}
